<html>
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
{% block body %}
    <div class='col-sm-6 col-sm-offset-3'>
        <h1>{{ title }}</h1>
        <h5>Or <a href="{{ alt_link }}">{{ alt_message }}</a></h5>
        <hr/>
        <form method='POST' action="" enctype="multipart/form-data">
            {% csrf_token %}
            {{ user_form.as_p }}
            {{ profile_form.as_p }}
            <input type="submit" class="btn btn-default" value="{{ button_text }}"/>
        </form>
    </div>
{% endblock body %}

</body>
</html>
