{% extends 'layout.html' %}

{% block body %}

    <h2>
        Trip to {{ trip.destination }}
    {% if trip.planner == request.user %}
        <span class="delete">
                 <a href="/trips/{{ trip.id }}/delete/">
                Delete forever
                </a>
            </span>
    {% endif %}
    </h2>
    <br/>
    {% if trip.planner != request.user %}
        Planned by: {{ trip.planner.first_name }} ( <a href="mailto:{{ trip.planner.email }}" >{{ trip.planner.email }}</a> )<br/>
    {% else %}
        You added this trip

    {% endif %}

    {{ traveler.first_name }} {{ traveler.last_name }}<br/>
    Description: {{ trip.description }}<br/>
    Start: {{ trip.start_date }}<br/>
    End: {{ trip.end_date }}<br/>

    <br/>
    <br/>

    People on the trip:<br/>
    <ul>
    {% if trip.travelers.count == 1 %}
        <li>So far {{ trip.planner }} is alone on this one...</li>
    {% endif %}
    {% for traveler in travelers %}
{#        {% if traveler != request.user %}#}
            {% if traveler != trip.planner %}
                <li>
                    {{ traveler.first_name }} {{ traveler.last_name }}
                </li>
            {% endif %}
{#        {% endif %}#}
    {% endfor %}
    </ul>


    {% if request.user not in travelers %}
        <span class="join_trip">
            <a href="/trips/{{ trip.id }}/join/">
                Join trip
            </a>
        </span>
    {% else %}
        {% if request.user != trip.planner %}
            <span class="join_trip">
                <a href="/trips/{{ trip.id }}/join/">
                    Leave trip
                </a>
            </span>
        {% endif %}

    {% endif %}

    <br/>


{% endblock %}